[Unit]
Description=Rclone
After=alist.service
Requires=alist.service

[Service]
ExecStartPre=/bin/sleep 5
Type=simple
ExecStop=fusermount -u /mnt/alist
User=root
Restart=on-abort

# 搜库
ExecStart=rclone mount alist_webdav:/ /mnt/alist --cache-dir=/tmp/alist_cache --use-mmap --umask 000 --allow-other --allow-non-empty --dir-cache-time 24h --vfs-cache-mode full --vfs-read-chunk-size 1M --vfs-read-chunk-size-limit 16M --checkers=4 --transfers=1 --vfs-cache-max-size 10G
# 播放
#ExecStart=rclone mount alist_webdav:/ /mnt/alist --cache-dir=/tmp/alist_cache --use-mmap --umask 000 --allow-other --allow-non-empty --dir-cache-time 24h --vfs-cache-mode full --buffer-size 512M --vfs-read-chunk-size 16M --vfs-read-chunk-size-limit 64M --checkers=4 --transfers=1 --vfs-cache-max-size 10G

[Install]
WantedBy=default.target